/* This stylesheet is used to style the public-facing components of the plugin. */


.redditjs_iframe_wrapper {
	width:100%;	
}

#redditjs_post {
	display: block;
	margin:0 auto;
	border:5px #f0f0f0 solid;
	width: 0px;
	height: 0px;

}


.iframePostLoaded {

	resize: both;   /* Options: horizontal, vertical, both */
    overflow: auto; /* fix for Safari */

}